
.tile-link {

    .tile,
    .tile ~ div,
    .tile ~ div ~ div,
    .tile ~ div ~ div ~ div,
    .tile ~ div ~ div ~ div ~ div,
    .tile ~ div ~ div ~ div ~ div ~ div {

        color: $btn-primary-color;
        border-color: $btn-primary-border;

        // Assorted bg (image bg + filter)
        &:before {
            //background-size: 64px;
            //filter: blur(4px) saturate(1);
            background-color: $btn-primary-bg;
            background-size: 4px;
            filter: blur(2px);
        }

        .content-wrapper {

            // Transparent overlay color
            &:before {
                //background-color: $btn-primary-bg;
                //opacity: .2 !important;
            }

            // Bottom left link icon
            &:after {
                font-family: "Material Design Icons";
                content: "\F337";
                position: absolute;
                width: 20px;
                height: 20px;
                bottom: 0;
                right: 0;
            }

        }

        .content {
            color: $btn-primary-color;
        }

        .favicon {
            //display: none;
            filter: saturate(0) brightness(.2) invert(1);
        }

        // Show favicon only if available
        .favicon &[data-favicon] {
            display: inline-block;
        }

        &:not(:hover) .favicon {

        }

    }

}

.mix {
    & > a {
        text-decoration: none;
        transition: .5s;
    }
}
