
.tile-note .tile {

    color: $btn-default-color;
    border-color: $btn-default-border;

    .content {

        // Transparent bg
        &:before {
            background-color: $btn-default-bg;
        }

    }

}
