
.tile-filter {

    .tile {

        cursor: pointer;
        cursor: hand;

        &:before {
            background-color: $btn-default-bg; // $well-bg
        }

        .content-wrapper {

            // Transparent overlay color
            &:before {

            }

            // Black corner
            &:after {
                //font-family: "Material Design Icons";
                //content: "\F232";
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 20px 20px;
                border-color: transparent transparent $text-color transparent;
            }

        }

        .content {

        }

    }

}

// Checkbox
.mix > .checkbox {

    & > label {

        // Checked bg color
        & > input:checked + .tile {

            //opacity: .25;
        //    color: $btn-primary-color;
        //    border-color: $btn-primary-border;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, .25);

            .content:before {
                //color: $btn-default-color; // $component-active-color
        //        background-color: $btn-primary-bg;
                //filter: blur(1px);
            }

            &:after {
                //background-color: $btn-link-disabled-color; // $component-active-bg
            }

        }

    }

}

.mix {
    .checkbox > label > input:checked & {
       //display: inline-block;
       border: solid 5px #f00 !important;
    }
}
